.hidden {
  display: none;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.clock {
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: #d0d3d4;
  font-family: monospace;
}
#quote {
  color: #d0d3d4;
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: center;
}
#weather {
  color: #d0d3d4;
  width: 100%;
  position: absolute;
  top: 2%;
  left: 89%;
}
.side-title {
  color: #d0d3d4;
  font-size: 35px;
  position: absolute;
  left: 8%;
  bottom: 60%;
}
